name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: npm publish
      uses: actions/setup-node@v6
      with:
        node-version: '24.x'
        registry-url: 'https://registry.npmjs.org'
    - run: npm i -g npm
    - run: npm ci
    - run: npm test
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    - name: Create Release
      uses: softprops/action-gh-release@v2

    - name: Info
      run: |
        echo "${GITHUB_REF_TYPE}"
        echo "${GITHUB_REF_NAME}"
